# Discord Bot Token
DISCORD_BOT_TOKEN=

# Supabase & PostgreSQL Connection (Secret / Environment Variable)
DATABASE_URL=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Bot Configurations
DEFAULT_LANGUAGE=ar
MAX_OPEN_TICKETS_PER_USER=1
COOLDOWN_SECONDS=10
HTML_TRANSCRIPT_ENABLED=true
BOT_OWNER_ID=1406547827865288786
